body {
  font-family: 'Playfair Display', serif;
}
a {
  color: #848E5A;
}
.Header-container{
  background-image: url("../background/wisnia.jpeg");
  background-repeat: no-repeat;
  background-position: 20% 50%;
}
.Contact-container{
  padding-top: 2em;
}
.Contact-contact {
  min-height: 200px;
}
.Contact-map {
  padding-top: 4em;
}
.HeaderBody-logo {
  width: 40%;
}
.ion-ios-telephone {
  height: 200%;
}
.Contact-title {
  padding-top: 2rem;
}

.ico {
  width: 10px;
  height: 10px;
}
.mHeader {
  margin-bottom: 20px;
}

.toggle {
  margin-bottom: 15px;
}

.map {
  position: unset!important;
}

.mapSingle {
  position: unset!important;
}

.NavItem {
  float:left;
}
.app-body {
  margin-top: 30px;
}
.restaurant-name {
}
.ClickMe {
  -vendor-animation-iteration-count: 5;
}

i.fa.fa-thumbs-up {
  color: black;
}
.fa1 {
  padding: 5px!important;
}

.MapHero {
  margin-top: 10px;
}

.restaurantHero {
  margin-top: 10px;
}

.footer {
  margin-top: 30px;
}

.singleAnchor {
  margin-top: 30px;
}

.mapSinglecol {
  height: 430px;
}

.Comment {
  padding:5px!important;
  margin-bottom: 20px!important;
}

.Comments {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 300px;
  padding-top:20px;
  padding-left: 20px;
  padding-right: 20px;
}

.ratings {
  margin-bottom: 20px;
}

.logo {
  height: 60px;
}
.logo-footer {
  height: 100px;
}
.red {
  color: #FF6384;
  height: 80px;
  padding-bottom: -30px !important;
}
.filterButton {
  font-size: 100%;
}
