.Header-container{
  background-image: url("../background/camelias2.jpg");
  background-repeat: no-repeat;
  background-position: 20% 20%;
}
.card-content {
  min-height: 200px;
}
.Header-navbar{
  /*background-color: white;*/
  /*opacity: 0.2;*/
}
.HeaderBody-logo {
  width: 40%;
}
.HeaderBody-title{
  font-size: 200%;
}
.Contact-title {
  padding-top: 2rem;
}

.negative {
  color: #FF6384 !important;
}
.positive {
  color: #36A2EB !important;
}
.headerColor {
}
.bounce a{
  font-size: 250%;
}
.ico {
  width: 10px;
  height: 10px;
}
.mHeader {
  margin-bottom: 20px;
}
.filterButton {
  background-color: #f7f7f7;
  border: 2px solid white;
  border-radius: 10px;
}
.toggle {
  margin-bottom: 15px;
}

.map {
  position: unset!important;
}

.mapSingle {
  position: unset!important;
}

.NavItem {
  float:left;
}
.app-body {
  margin-top: 30px;
}
/*single restaurant component text style*/
.restaurantName {
  text-align: center;
  font-size: 200%;
}
.restaurantDescription,
.AddComment-title,
.Address-title,
.Comments-title {
  font-weight: bolder;
}
.address {
  margin-bottom: 1rem;
}
.restaurantPhoto {
  height: 400px;
}
.Comments-list {
  text-align: center;
}
.Comment-content {
  height: 100px;
  width: 100%;
  font-size: 100%;
}
.restaurant-name {
}
.ClickMe {
  -vendor-animation-iteration-count: 5;
}

i.fa.fa-thumbs-up {
  color: black;
}
.fa1 {
  padding: 5px!important;
}

/*colors set:
'#FF6384',
'#36A2EB',
'#FFCE56'*/

.Arrow {
  text-align: center;
}

.MapHero {
  margin-top: 10px;
}

.restaurantHero {
  margin-top: 10px;
}

.footer {
  margin-top: 30px;
}

.singleAnchor {
  margin-top: 30px;
}

.mapSinglecol {
  height: 430px;
}

.Comment {
  padding:5px!important;
  margin-bottom: 20px!important;
}

.Comments {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 300px;
  padding-top:20px;
  padding-left: 20px;
  padding-right: 20px;
}

.ratings {
  margin-bottom: 20px;
}

.logo {
  height: 60px;
}
.logo-footer {
  height: 60px;
}
.red {
  color: #FF6384;
  height: 80px;
  padding-bottom: -30px !important;
}
.filterButton {
  font-size: 100%;
}
